.input-search {
  height: 44px;
  padding-left: 17px;
  max-height: 80px;
  border-radius: 5px;
  width: 90%;
}
.input-search::placeholder {
  color: var(--text-color-gray);
  padding-left: 12px;
}
.bi {
  font-size: 27px;
}
.bi-search {
  position: relative;
  right: 13%;
  top: 5px;
}

/* @media (max-width: 576px) {
  .content-search {
    max-height: 80px;
    height: 50px;
  }
  .input-search {
    width: 100%;
  }
  .bi-search {
    right: -85%;
    top: -42px;
  }
} */

@media (max-width: 767px) {
  .content-search {
    max-height: 80px;
    height: 50px;
  }
  .input-search {
    width: 100%;
  }
  .bi-search {
    right: -85%;
    top: -42px;
  }
}
@media (min-width: 768px) {
  .content-search {
    max-height: 80px;
    height: 50px;
  }
  .input-search {
    width: 100%;
  }
  .bi-search {
    right: -85%;
    top: -42px;
  }
}
