:root {
  --bg-app: url("/src/image/fondo.jpg");
  --primary-bg: #0dd8df;
  --secondary-bg: #057b9d;
  --text-color-white: white;
  --text-color-black: rgb(78, 76, 76);
  --text-color-gray: gray;
}

.container-fluid {
  background-image: var(--bg-app);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  position: fixed;
  margin: 0px;
  padding: 0px;
}

/* SECOND CARD  */
.content-tasks {
  /* background: rgb(8, 231, 64); */
  border-radius: 10px;
  padding: 35px;
  height: 600px;
  max-height: 650px;
}

@media (max-width: 576px) {
  .content-image {
    margin: 5px 5px 0px 0px;
  }
  .content-image > img {
    width: 100px;
  }
}
